<% provide(:title, "Gallery") %>

<div class="general-page">
	<div class="coll">
		<% if @artworks.any? %>
			<h1 class="gallery-title">Gallery</h1>
			<%= paginate @artworks %>
			<div class="artworks">
				<%= render @artworks %>
			</div>
			<%= paginate @artworks %>
		<% end %>
	</div>
</div>


