<% provide(:title, "Gallery") %>

<div class="general-page">
	<% if logged_in? %>
		<div class="row">
			<section class="artwork-form">
				<%= render 'shared/artwork_form' %>
			</section>
		</div>
	<% end %>

	<div class="coll">
		<% if @artworks.any? %>
			<h1 class="gallery-title">Gallery</h1>
			<%= paginate @artworks %>
			<div class="artworks">
				<%= render @artworks %>
			</div>
			<%= paginate @artworks %>
		<% end %>
	</div>
</div>


