<div class="general-page">
	<div class="row">
		<section class="artwork-form">
			<%= render 'shared/artwork_form' %>
		</section>
	</div>
	<div class="update-body">
		<h4 class="update-list">Gallery List</h4>
		<% if @items.any? %>
			<div class="container artworks-list">
				<%= render :partial => "artworks/item", 
				:collection => @items, 
				:as => :artwork %>
			</div>
		<% end %>
		<div class="update-art-button">
			<%= submit_tag "Save", class: "btn btn-primary" %>
		</div>
	</div>
</div>



