<% provide(:title, "Gallery") %>

<div class="general-page">
	<div class="coll">
		<h1 class="gallery-title">Gallery</h1>
		<% if @artwork.any? %>
			<%= paginate @artwork %>
			<div class="artworks">
				<%= render @artwork %>
			</div>
			<%= paginate @artwork %>
		<% end %>
	</div>
</div>


