<div class="center jumbotron">
	<h1>Kate Harsch Schroder</h1>
		<p>
			Painter & Illustrator
		</p>
</div>
<div class="container">
	<div class= "row gallery_preview">
		<div class="col-6">
			test
		</div>
		<div class="col">
			test
		</div>
	</div>
</div>