<div class="center jumbotron">
	<h1 class="display-4">Kate Harsch Schroder</h1>
		<p>
			Painting & Illustration
		</p>
</div>

<%= render 'layouts/body' %>

<% if Review.any? %>
	<%= render 'layouts/reviews' %>
<% end %>