<div class="center jumbotron">
	<h1 class="display-4">Kate Harsch Schroder</h1>
		<p>
			Painting & Illustration
		</p>
</div>
<div class="row home_artwork">
	<h4 class="artworks_title"><%= @artwork.title %></h4>
	<div class="col-md-6">
		<%= @artwork.content %>
	</div>
	<div class="col-md-6">
		<% if @artwork.image.attached? %>
			<%= image_tag @artwork.image class: "image-jpg" %>
		<% end %>
	</div>
</div>