<li id="artwork-<%= artwork.id %>">
	<h4 class="artworks_title"><%= artwork.title %></h4>
	<div>
		<% if logged_in? %>
		 	<%= link_to "Delete", artwork, method: :delete,
		 		data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<span class="artworks_content"><%= artwork.content %></span>
</li>