@import "bootstrap";


/* universal */

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center h1 {
  margin-bottom: 10px;
}

.general-page {
	padding: 1vw 6vw;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
 }

p{
	font-size: 1.1em;
	line-height: 1.7em;
}



/* header */

#logo {
	float: left;
	width: 75px;
	margin: 1vw;
}

.navbar.navbar-expand-md.navbar-light {
	background-color: #fff;
	display: inline-block;
}

.container.navbar_container {
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
}

.navbar-right {
	margin-top: 45px;
}

.nav-item {
	margin-right: .5rem;
}

.nav-item a {
	text-decoration: none;
	color: #000000c7;
	margin: 5px;
}

.nav-item a:hover {
	color: black
}

.navbar-light {
	border-bottom: none
}

.site_nav > li > a:hover {
	text-shadow: 1px 1px 15px #2e2e2ef2;
}

.navbar-nav {
	margin-left: 15px;
	font-size: 1.1rem;
}

#ig-logo {
	width: 30px;
}

.ig-logo-align {
	padding: 8px 15px;
}


/* body */



html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.main-body {
	margin-top: 95px;
}

.home-banner {
	background-image: url(Reviewbackground2.jpg);
	background-size: cover;
	color: white;
	padding: 3em 3em 7em;
}

.nav > li > a {
	padding: 10px 10px;
}

.col-md-6 > img {
	max-width: 100%;
}

.home-artwork {
	border-bottom: 1px solid lightgray;
	padding: 5vw 15vw 2vw;
}

.home-artworks-title {
	text-align: center;
    padding: 1rem;
}




/* homepage reviews */

.review_title {
	color: black;
	margin-top: 35px;
	margin-bottom: 20px;
}

.row.all-reviews{
	margin: 0px;
	justify-content: center;
}

.card {
	width: 15em;
}

.card-body p {
	font-size: .8em;
	padding: 10px;
}

.card.col-md {
	margin: 0px 8px;
}

.mb-3 input {
	width: 100%;
}

.mb-1 textarea {
	width: 100%;
	resize: none;
  height: 15vw;
  margin-bottom: 0px;
}

.modal-body.review-body {
	padding-bottom: 0px;
}

.review-note {
	font-size: .75em;
	margin-top: 0px;
}

.review-button {
	float: right;
}



/* footer */



footer {
  margin: 2em;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
  text-decoration: none;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}



/* login page */




/* gallery */



.artworks {
	list-style: none;
	padding: 0px 15px;
}

.artworks_title, .artworks_content {
	display: block;
}

.gallery-title{
	margin-bottom: 20px;
}

.pagination {
	margin-top: 20px;
}

.artworks_title {
	margin-top: 25px;
}

.artworks_content {
	padding-bottom: 15px;
	border-bottom: 1px solid lightgray;
}

.content_title {
	margin-bottom: 5px;
}

#artwork_content {
	  resize: none;
    height: 200px;
    width: 100%;
}

.submit_button {
	margin-bottom: 15px;
	float: right;
}

.btn.btn-primary {
	margin-top: 0px;
}

.password-entry {
	margin-bottom: 10px;
}

.alert {
	margin: 3% 10% 0%;
}

.col-md-6 > button {
	padding: 0px;
	border: none;
}

.col-md-6 > button > img {
	max-width: 100%;
}

.img_link {
	border: none;
	background: none;
}

.col-md-6 {
	margin: 10px 0px;
}

ol {
	padding: none
}



/* reviews */



.review-title {
	margin: 20px 0px;
}

.reviews-body {
	list-style: none;
}

.reviews-body li {
	border-top: 1px solid lightgrey;
	padding: .75rem;
}

.review-poster {
	margin-bottom: 15px;
}

.all-reviews {
	background-image: url(Reviewbackground.jpg);
	background-size: cover;
	padding: 2em;
}

h2 {
	color: black;
}

.review-button-row {
	margin-bottom: 10px;
	justify-content: right;
}

.review-button {
	display: contents;
}

.card.col-md {
	margin: 1vw 1.5vw;
}


/* contact */



.container.contact-form {
	padding: 0px 8vw;
}

form .modal-footer {
	border-top: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

.contact-message textarea {
	resize: none;
	height: 25vh;
}

.contact-message {
	margin-bottom: 5px;
}

.contact-note {
	font-size: .8em;
}
