<li id="review-<%= review.id %>">
	<div class="row">
		<div class="col-md-10">
			<%= review.content %>
		</div>
		<div class="col-md-2 text-end">
			<% if logged_in? %>
			 	<%= link_to "Delete", review, method: :delete,
			 		data: { confirm: "Are you sure?" } %>
			<% end %>
		</div>
	</div>
	<span class="row review-poster">
		<div class="col-md-12">
			<%= review.name %>
		</div>
	</span>
</li>