<div class="row home-artwork">
	<% if Artwork.any? %>
		<% if @artwork.image.attached? %>
			<%= image_tag @artwork.image %>
			<h4 class="home-artworks-title">
				<%= @artwork.title %>
			</h4>
		<% end %>
	<% end %>
</div>