<div class="container contact-form">
	<form action="https://formsubmit.co/2c28a03619dc0acea4e413fb90a88a56" method="POST">
		<input type="hidden" name="subject" value="New art website contact!">
		<input type="text" name="_honey" style="display:none">
		<input type="hidden" name="_next" value="https://www.khsartworks.com/">
		<input type="hidden" name="_autoresponse" value="Thanks for reaching 
			out to me, I'll be in touch soon. - Kate">
		<h3>Get in touch!</h3>
		<div class="mb-3">
			<input class="form-control" type="text" name="name" placeholder="Your name..." required>
		</div>
		<div class="mb-3">
			<input class="form-control" type="email" name="email" placeholder="Your email..." required>
		</div>
		<div class="contact-message">
			<textarea class="form-control" type="text" name="message" placeholder="Message..." required></textarea>
		</div>
		<div class="contact-note">
			You will receive email confirmation that your message was sent. Make sure to check your junk folder!
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary submit_button">Send</button>
		</div>
	</form>
</div>