<footer class="footer">
  <small>
    © 2022, all rights reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "Gallery", gallery_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Login", login_path %></li>
    </ul>
  </nav>
</footer>